<!DOCTYPE html>
<html>

<head>
    <title>Trang chủ</title>
    <meta name="application-name" content="AutoForm">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/global-style.css">
    <link rel="stylesheet" href="/stylesheets/style/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/home-style.css">

    <script src="/javascripts/jquery.color.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/home.js" type="text/javascript"></script>

</head>

<body>
    <div class="container">
        <!-- MENU -->
        <div class="left">
            <ul class="pure-menu-list menu">
                <li class="pure-menu-item menu-item">
                    <a href="/home" class="pure-menu-link">
                        <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
                    </a>
                </li>
                <li class="pure-menu-item menu-item">

                    <a href="/profile" class="pure-menu-link">
                        <i class="fa fa-address-book" aria-hidden="true"></i> Quản lý profile</a>
                </li>
                <li class="pure-menu-item menu-item">

                    <a href="#" class="pure-menu-link">
                        <i class="fa fa-history" aria-hidden="true"></i> Lịch sử</a>
                </li>
                <li class="pure-menu-item menu-item">

                    <a href="#" class="pure-menu-link">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Báo cáo</a>
                </li>

            </ul>

        </div>

        <!-- MAIN -->
        <div class="right">
            <!-- HEADER -->
            <div class="header">
                <div class="page-name">
                    <h2>Auto form</h2>
                </div>
                <div class="user">
                    <ul class="nav">
                        <li class="nav-user">
                            <a href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </a>
                            <ul class="drop-down">
                                <li>
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                    <a href="#">Tài khoản</a>
                                </li>
                                <li>
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <a href="#">Cài đặt</a>
                                </li>
                                <li>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <a href="/logout">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- CONTENT -->
            <div class="main">
                <div class="features">
                    <style scoped>
                        .button-success,
                        .button-error,
                        .button-warning,
                        .button-secondary {
                            color: white;
                            border-radius: 4px;
                            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                        }

                        .button-success {
                            background: rgb(28, 184, 65);
                            /* this is a green */
                        }

                        .button-error {
                            background: rgb(202, 60, 60);
                            /* this is a maroon */
                        }

                        .button-warning {
                            background: rgb(223, 117, 20);
                            /* this is an orange */
                        }

                        .button-secondary {
                            background: rgb(66, 184, 221);
                            /* this is a light blue */
                        }
                    </style>

                    <button class="cancel-button pure-button button-error"></button>
                    <button class="edit-button pure-button"></button>
                    <button class="print-button pure-button pure-button-primary"></button>
                </div>

                <div class="form">
                    <%= form %>
                </div>

            </div>
        </div>



    </div>
    <div class="loader-modal">
        <!-- Place at bottom of page -->
    </div>

</body>

</html>