<!DOCTYPE html>
<html>

<head>
    <meta name="application-name" content="Auto filling form">
    <meta name="author" content="Duong Trung Anh">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/global-style.css">
    <link rel="stylesheet" href="/stylesheets/style/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/index-style.css" type="text/css">
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.color.js" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            $('.login-button').click(function(){
                username=$('#name').val();
                password=$('#password').val();
                if(username==='')
                    {
                        alert('Tên đăng nhập không được trống');
                        $('.login-button').removeAttr('href');
                        return;
                    }
                if(password==='')
                    {
                        alert('Mật khẩu không được trống');
                        $('.login-button').removeAttr('href');
                        return;
                    }
                if(username!=='user1234' || password!=='1234')
                    {
                        alert('Tên đăng nhập hoặc mật khẩu không chính xác');
                        $('.login-button').removeAttr('href');
                        return;
                    }
                $('.login-button').attr('href','home.html');
            });
            $('.signup-button').click(function(){
                email=$('#email').val();
                suUsername=$('#su-name').val();
                suPassword=$('#su-password').val();
                if(email==='')
                    {
                        alert('Email không được trống');
                        return;
                    }
                if(suPassword==='')
                    {
                        alert('Mật khẩu không được trống');
                        return;
                    }
                if(suUsername==='')
                    {
                        alert('Tên đăng nhập không được trống');
                        return;
                    }
                alert('Đăng ký thành công');
                $('#email').val('');
                $('#su-name').val('');
                $('#su-password').val('');
            });
        });
    </script>
</head>



<body>
    <div class="container">
        <div class="header">
            <div class="page-name">
                <h2>Hệ thống tự động điền biểu mẫu</h2>
            </div>
        </div>
        <div class="main">
            <div class="left-side">
                <div class="log-in">
                    <legend class="log-in-title">Đăng nhập</legend>
                    <form class="pure-form pure-form-aligned log-in-form">
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="name">Username</label>
                                <input id="name" type="text" placeholder="Username">
                            </div>

                            <div class="pure-control-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" placeholder="Password">
                            </div>

                            <div class="pure-controls">
                                <label for="cb" class="pure-checkbox">
                                    <input id="cb" type="checkbox"> Nhớ mật khẩu
                                </label>

                                <a class="pure-button pure-button-primary login-button" href="home.html">Đăng nhập</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="right-side">
                <div class="sign-up">
                    <legend class="sign-up-title">Đăng ký</legend>
                    <form class="pure-form pure-form-aligned sign-up-form">
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="email">Email Address</label>
                                <input id="email" type="email" placeholder="Email Address">
                            </div>

                            <div class="pure-control-group">
                                <label for="name">Username</label>
                                <input id="su-name" type="text" placeholder="Username">
                            </div>

                            <div class="pure-control-group">
                                <label for="password">Password</label>
                                <input id="su-password" type="password" placeholder="Password">
                            </div>

                            <div class="pure-controls">
                                <a class="pure-button pure-button-primary signup-button">Đăng ký</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>