.main {
    overflow: auto;
    background-color: #f8f8f8;
    min-height: 500px;
}
.new-acc{
    float:left;
    width: 27.5%;
    border:2px solid #e8e8e8;
    border-radius: 5px;
    margin: 1.5em 0 0 1em;
    background-color: white;
}
.add-form{
    padding: 1em 1em 1em 1em;
    
}
.acc-list{
    margin:1.5em 1em 0 1em;
    float:right;
    width: 67%;
    border:2px solid #e8e8e8;
    border-radius: 5px;
    background-color: white;
}
.acc-list legend{
    padding: 1em 0 1em 1em;
    font-weight: bold;
    font-size: 18px;
}
.acc-list table{
    display: inline-block;
    margin: 0 1em 1em 1em;
}