
body{
}

/*==Content==*/
.main{
    overflow: auto;
}
.left-side{
    width:59%;
    height:520px;
    float:left;
    border-right: 1px solid #e8e8e8;
    overflow: auto;
}
.log-in{
    padding-top:2em;
    width:500px;
    margin: auto;
}
.log-in-title{
    font-size:18px;
    padding-top:2em;
}
.log-in-form{
    padding-top: 2em;
    padding-right: 2em;
}

.right-side{
    width:40%;
    float: right;
}
.sign-up{
    padding: 2em;
}
.sign-up-title{
    font-size:18px;
    padding-top:2em;
}
.sign-up-form{
    padding-top: 2em;
    padding-right: 2em;
}
