.main{
    overflow: auto;
    background-color: #f8f8f8;
    
}
.city{
    float: left;
    width: 45%;
    border:2px solid #e8e8e8;
    border-radius:5px;
    padding: 1em;
    margin: 1.5em 0 0 1em;
    background-color: white;
    
}

.city-list{
    overflow: scroll;
    max-height:500px;
}
.city-list table td:last-child{
    width: 40%;
}
.city-list a{
    color:#23537c;
}
.district{
    float: right;
    width: 45%;
    border:2px solid #e8e8e8;
    border-radius:5px;
    padding: 1em 0 1em 1em;
    margin: 1.5em 1em 0 1em;
    background-color: white;
    
}
.district-list{
    overflow: scroll;
    max-height:500px;
}
.district-list table td:last-child{
    width: 40%;
}
.district-list a{
    color: #23527c;
}