/*==main==*/

.main {
    overflow: auto;
    background-color: #f8f8f8;
    min-height: 100%;
    max-height: 100;
}


/*==profiles==*/

.profiles {
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    width: 20%;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    background-color: white;
}

.new-profile {
    padding: 1em;
}

#profile-name {
    width: 100%;
}

.add-button {
    margin-top: 1em;
}

.profile-list {
    padding-bottom: 1em;
}
.selected{
    background-color: #e8e8e8;
}
.prof-item:hover{
    cursor: pointer;
}
/*==properties==*/

.profile-content {
    float: right;
    width: 74%;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    margin: 1em;
    background-color: white;
    
}

.properties {
    padding: 1em 0 0 0;
    float: left;
    border-right: 2px solid #e8e8e8;
    width: 29.8%;
    overflow: scroll;
    min-height:650px;
    max-height:650px;
}

.property-list{
    
    
}

/*==property-value==*/
.property-list li:hover{
    cursor: pointer;
}

.property-value {
    width: 69.9%;
    float: right;
    
}

.info-and-features {
    width: 100%;
    border-bottom: 2px solid #e8e8e8;
    overflow: auto;
}

.info {
    height: 30px;
    line-height: 30px;
    float: left;
    width: 23.8%;
    margin: 1em;
    overflow: hidden;
}

.features {
    float: right;
    width: 70%;
    margin: 1em auto;
}
.save-button,
.cancel-button,
.delete-button{
    float:right;
    margin-left:0.2em;
    margin-right:0.2em;
}

#copy-from{
    visibility: hidden;
    float:left;
    width:150px;
}
.content{
    width: 100%;
    position: relative;
    overflow: scroll;
    max-height:600px;
    min-height:600px;
}

.content 
.pure-form 
fieldset 
.pure-control-group{
    height:40px;
    line-height: 40px;
    margin: 1em;
}

.content 
.pure-form 
fieldset 
.pure-control-group
label{
    /*margin: 1em;*/
}

.content 
.pure-form 
fieldset 
.pure-control-group
input{
    position: absolute;
    left: 250px;
}




.revert-button{
    display: inline-table;
    color: red;
    position: absolute;
    left: 450px;
}

/* disable the element */
.disable{
    background-color: #e8e8e8;
    /*pointer-events:none;*/ /*This makes it not clickable*/
    opacity:0.6;         /*This grays it out to look disabled*/
}

/*  Disable all buttons */
.save-button,
.delete-button,
.cancel-button{
    visibility: hidden;
}
